@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-dark: #374151;
  --primary-green: #a7f3d0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;;
  
}


.container
{
    display:flex;
    flex-direction: column;
    width:500px;
    margin: auto;
    height: auto;
    background-color:#059669;
    padding: 0.3rem;

    
}
input
{
    width: 90%;
    padding: 1rem;
    margin: 7px auto;
    height: 12px;
    display: block;
    border: 2px solid black;

}
button
{
    height: 2rem;
    margin:0.4rem;
    margin-bottom: 1rem;
     width: 5rem;
     border-radius: 3px;
    margin-left: 13rem;
}
table, th, td{
    background-color: white;
    color:black;
    
    margin: 1rem auto;
    padding: 0.5rem;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}


